// country card

.country__card{
    lost-column: 1/6 6 $spacer-md;
    transition: all 0.2s ease-in-out;
    margin-bottom: $spacer-md;
    background: $white;
    padding: $spacer-md;
    min-height: 160px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    border-radius: $border-radius;
    text-decoration: none;
    position: relative;
    &:after{
        transition: all 0.2s ease-in-out;
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        border-radius: $border-radius;
        box-shadow: $card-box-shadow;
        opacity: 0.5;
    }
    &:hover{
        cursor: pointer;
        transform: translateY(-8px);
        &:after{
            opacity: 1;
        }
    }
    &--flag{
        margin-bottom: $spacer;
        box-shadow: $card-box-shadow;
        line-height: $line-height * 3.5 !important;
        width: (4 / 3) * ($line-height * 3.5) !important;
        &.fp-square{
            width: $line-height * 3.5 !important;
        }
    }
    &--name{
        @include font-size(0.9);
        margin: 0;
        text-align: center;
        letter-spacing: 1.2px;
    }
}


@media (min-width: 320px) and (max-width: 767px) {
    .country__card{
        lost-column: 1/2 2 $spacer-md;
    }
}
