.header{
  height: 250px;
  width: 100%;
  background: linear-gradient(120deg,$primary 0, $comp 100%);
  >.container{
    height: 100%;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
  }
  &--intro{
    @include font-size(1.25);
    margin-top: calc(#{$brand} + #{$spacer-lg});
    color: $white;
    font-style: italic;
    font-weight: $font-weight-bold;
  }
  &__search{
    width: 50%;
    text-align: center;
    position: relative;
    &--button{
      @include font-size(1.75);
      transition: all 0.2s ease-in-out;
      position: absolute;
      right: 0;
      top: 0;
      background: transparent;
      border: 0;
      color: $secondary;
      background: transparent;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      padding: 0 $spacer / 1.5;
      &.is-button{
        &:hover{
          cursor: pointer;
        }
      }
    }
    input{
      @include font-size(1.1);
      transition: all 0.2s ease-in-out;
      -webkit-appearance: textfield;
      width: 100%;
      background: $white;
      border: 0;
      padding: $spacer;
      border-radius: 40px;
      box-shadow: $card-box-shadow;
      &::-webkit-search-decoration,
      &::-webkit-search-cancel-button {
        -webkit-appearance: none;
      }
      &:focus{
        outline: none;
        transform: scale(1.05);
      }
      &:focus + .header__search--button{
        right: -$spacer / 1.5;
      }
    }
  }
}



@media (min-width: 320px) and (max-width: 767px) {
  .header{
    padding: 0 $spacer;
    min-height: 270px;
    &--intro{
      text-align: center;
      line-height: 1.5em;
    }
    &__search{
      width: 100%;
    }
  }
}