$brand: 70px;

.nav{
    width: 100%;
    position: relative;
    text-align: center;
    &--brand{
        width: 250px;
        transition: transform 0.2s ease-in-out;
        height: calc(#{$brand} + #{$spacer-sm});
        // height: $brand;
        background: darken($primary, 8%);
        position: absolute;
        left: 50%;
        transform: translateX(-50%) translateY(-$spacer-sm);
        top: 0;
        border-radius: 0 0 $line-height*2 $line-height*2;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1001;
        img{
            width: 70%;
            pointer-events: none;
        }
        &:hover{
            cursor: pointer;
            transform: translateX(-50%) translateY(0);
        }
    }
    &__menu{
        z-index: 1000;
        position: absolute;
        left: 0;
        width: 100%; 
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        color: $white;
        ul{
            margin: 0;
            padding: 0;
            list-style: none;
            li{
                display: inline-block;
                a{
                    height: 50px;
                    color: $white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-decoration: none;
                    &:hover{
                        color: $secondary;
                    }
                    i{
                        @include font-size(2);
                    }
                }
            }
        }
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .nav{
        &__menu{
            padding: 0 $spacer;
        }
    }
}
