.tabs{
    background: darken($primary, 5%);
    margin-bottom: $spacer-lg;
    &--navigation{
        width: 100%;
        list-style: none;
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0;
        li a{
            padding: $spacer $spacer-lg;
            display: flex;
            color: $ceramic;
            text-transform: capitalize;
            font-weight: $font-weight-bold;
            text-decoration: none;
            &:hover, &:focus{
                color: $white;
            }
            &.nuxt-link-exact-active, &.nuxt-link-active{
                background: darken($primary, 8%);
                color: $secondary;
            }
        }
    }
}

@media (--mobile), (--mobile-l) {
    .tabs{
        margin-bottom: 0;
        &--navigation{
            flex-direction: column;
            li a{
                justify-content: center;
            }
        }
    }
}



