// base

* {
    box-sizing: border-box;
}

html,
body {
    position:   relative;
    min-height: 100vh;
    background: darken($primary, 8%);
}

.body{
    backface-visibility: hidden;
    background: $ceramic;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    min-height: 100vh;
    position: relative;
}

@lost flexbox flex;

.container {
    lost-center: $container-width;
    position: relative;
}

.clear-fix {
    lost-utility: clearfix;
}