// country main

.details__title{
    display: flex;
    margin-bottom: $spacer;
    &--flag{
        margin-right: $spacer-md;
        box-shadow: $card-box-shadow;
        line-height: $line-height * 5 !important;
        width: (4 / 3) * ($line-height * 5) !important;
        &.fp-square{
            width: $line-height * 5 !important;
        }
    }
    &--name{
        flex: auto;
        h1{
            line-height: 1em;
        }
        h1, h4{
            margin: 0;
        }
        h1{
            @include font-size(2.5);
        }
        h4{
            @include font-size(1.75);
            font-weight: $font-weight-light;
        }
    }
    &--native{
        color: lighten($body, 20%);
    }
}


@media (min-width: 320px) and (max-width: 767px) {
    .details__title{
        &--flag{
            display: none;
        }
        &--name{
            width: 80%;
            flex: none;
            h1{
                @include font-size(2);
            }
            h4{
                @include font-size(1.5);
            }
        }
    }
}
