// countries table

.countries__table{
    lost-flex-container: row;
    margin: $spacer-lg 0;
    width: 100%;
}

@media (min-width: 320px) and (max-width: 767px) {
    .countries__table{
        padding: 0 $spacer;
    }
    
}
